<div class="bg-theme" id="sidebar-wrapper">
  <div class="sidebar-heading pb-0">
    <a href="/admin">
      <!-- <img src="/img/logo-white.png" alt="" class="sidebar-logo" -->
      <h1 class="text-white">Agora</h1>
    </a>
  </div>
  <hr />
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin"
      ><i class="fas fa-home mr-2"></i> Home</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/users/all"
      ><i class="fas fa-users mr-2"></i> Users</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/product/all"
      ><i class="fas fa-trophy mr-2"></i> Products</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/product/details/all"
      ><i class="fas fa-star mr-2"></i> Products Ratings & Reviews</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/search"
      ><i class="fas fa-search mr-2"></i>Search</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/support"
      ><i class="fas fa-question-circle mr-2"></i>Support</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/feedback"
      ><i class="fas fa-comments mr-2"></i>Feedback</a
    >
    
    <!-- <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/support-tickets"
      ><i class="fas fa-ticket-alt mr-2"></i>Support Tickets</a
    > -->
  </div>
</div>
